.logo{
    margin-left: 38%;
    background-color: white;
    margin-bottom: 0 auto;
}

h1{
    color: white;
    background-color: #340f5c;
    padding: 20px;
    text-align: center;
    font-family: tahoma;
    margin: 0 auto;
}

footer{
    color: white;
    background-color: #340f5c;
    padding: 20px;
    font-family: tahoma;
    text-align: center;
}